<% unless @feeder.nil? %>
<div class="section section-manager">

  <h2 class="blue normal"><i class="icon-globe"></i> Data Feeds
  <%= link_to glyph(:plus) + " New", "#", :id => "", :class =>"btn btn-primary pull-right" %></h2>


<div class="row-fluid">
    <table class="table hover-table feeder-table">
      <thead>
      <tr>
        <th>Vendor</th>
        <th>Source</th>
        <th>Server</th>
      </tr>
      </thead>
      <% @feeder.each_with_index do |feeder, ix|%>
        <tr class="feeder-row" data-pos="<%= ix %>">
          <td><%= feeder["name"] %></td>
          <td><%= ["Quotes", "News", "Quotes&News"][feeder["mode"]] %></td>
          <td><%= feeder["server"] %></td>
        </tr>
      <% end %>
    </table>
  <div id="feeder-form">
    <%= render "feeder/feeder_form" %>
  </div>
</div>
</div><!--/section-->
<% end %>


<!--
 {"attemps_sleep"=>5, "enable"=>0, "file"=>"mt4feeder.feed", "keywords"=>"", "login"=>"1001", "mode"=>0, "name"=>"MetaTrader 4 Quotes", "news_langid"=>0, "pass"=>"DemoFeeder", "server"=>"demo.metaquotes.net:443", "timeout"=>120, "timeout_reconnect"=>5, "timeout_sleep"=>60}
-->
