<!-- Modal -->
<div id="modal-plugin" class="modal hide in modal-plugin modal-form tab-forms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel" class="normal"><i class="icon-list-alt"></i> Plugin</h3>
    </div>
    <div class="modal-body ">

<%= form_tag plugin_submit_path, :method => "POST", :remote => true do %>
  <%= hidden_field_tag "plugin_key", @plg["plugin"]["file"] %>
  <div class="row-fluid">
    <div class="padd-10">
      <%= hidden_field_tag "plugin[plugin][enabled]", '0' %>
      <%= check_box_tag "plugin[plugin][enabled]", '1', @plg["plugin"]["enabled"]==1, :class =>"icheck-me",  :data => { :skin => 'minimal', :color =>'blue'} %> Load at server startup
    </div>
  </div>

  <div class="row-fluid">
    <div class="padd-10">
      <%= hidden_field_tag "plugin[plugin][manager_access]", '0' %>
      <%= check_box_tag "plugin[plugin][manager_access]", '1', @plg["plugin"]["manager_access"]==1, :class =>"icheck-me",  :data => { :skin => 'minimal', :color =>'blue'} %> Configurable by managers
    </div>
  </div>

  <div class="row-fluid">
  <div class="padd-10">
    <div id="plugin-parameters" class="span12">
      <%= render "plugin/parameters" %>
    </div>
  </div>
  </div>

    <div class="form-actions">
      <%= submit_tag"Submit", :class => "btn btn-primary" %>
    </div> 
<% end %>

</div>
</div>