<% unless @plugin.nil? %>
<div class="section section-plugin">


      <h2 class="normal blue"><i class="icon-list-alt"></i> Plugin
    <%= link_to glyph(:plus) + " New", "#modal-plugin", :id => "", :class =>"btn btn-primary pull-right" %></h2>

<div class="row-fluid">
    <table class="table hover-table plugin-table">
      <thead>
      <tr>
        <th style="width:200px;">Name</th>
        <th>Version</th>
        <th style="width:260px;">Copyright</th>
        <th>File</th>
        <th></th>
      </tr>
      </thead>
      <% @plugin.each_with_index do |plugin, ix|%>
        <tr class="plugin-row" data-pos="<%= ix %>">
          <td><%= plugin["plugin"]["info"]["name"] %></td>
          <td><%= plugin["plugin"]["info"]["version"]/100.0 %></td>
          <td><%= plugin["plugin"]["info"]["copyright"] %></td>
          <td><%= plugin["plugin"]["file"] %></td>
          <td>
             <a class="symbol-edit" href="#"><i class="icon-pencil"></i></a>
             &nbsp;&nbsp;&nbsp;
            <a href="#"><i class="icon-remove"></i></a>
          </td>
        </tr>
      <% end %>
    </table>
  <div id="plugin-form">
    <%= render "plugin/plugin_form" %>
  </div>
</div>

</div><!--/section-->
<% end %>


<!--
<%= @plugin %>
{"params"=>[{"name"=>"Dangerous Avg Trade Time", "value"=>"300"}, {"name"=>"Dangerous Confirm Deviation", "value"=>"4"}, {"name"=>"Dangerous Order Deviation", "value"=>"4"}, {"name"=>"Dangerous Pendings", "value"=>"40"}, {"name"=>"Dangerous Request Delay", "value"=>"2"}, {"name"=>"Dangerous Scalping Orders", "value"=>"10"}, {"name"=>"Dangerous Tick Deviation", "value"=>"5"}, {"name"=>"Dangerous Volume", "value"=>"10.00"}, {"name"=>"Groups", "value"=>",*,"}, {"name"=>"Maximum Dangerous Users", "value"=>"10"}, {"name"=>"Maximum Hyperactive Users", "value"=>"20"}, {"name"=>"Maximum Recommendations", "value"=>"10"}]
, "plugin"=>{"configurable"=>1, "enabled"=>1, "file"=>"LogAnalyser.dll", "info"=>{"copyright"=>"MetaQuotes Software Corp.", "name"=>"LogAnalyser Settings", "version"=>100}, "manager_access"=>0}, "total"=>12}
-->