<div class="container-fluid">
  
<% if can? :manage, :common %>
  <%= render "fixed_update/common_form" %>
<% end %>

<% if can? :manage, :access %>
  <%= render "variable_update/access_form" %>
<% end %>

<% if can? :manage, :data_server %>
  <%= render "variable_update/data_server_form" %>
<% end %>

<% if can? :manage, :time %>
  <%= render "fixed_update/time_form" %>
<% end %>

<% if can? :manage, :holiday %>
  <%= render "variable_update/holiday_form" %>
<% end %>


<% if can? :manage, :symbol_group %>
  <%= render "symbol/symbol_group_form" %>
<% end %>

<% if can? :manage, :symbols %>
<div id="symbols-form-tab">
  <%= render "symbol/symbols_tab" %>
</div>
<% end %>

<% if can? :manage, :backup %>
<%= render "fixed_update/backup_form" %>
<% end %>

<% if can? :manage, :group %>
<%= render "group/group_tab" %>
<% end %>

<% if can? :manage, :manager %>
<%= render "manager/manager_tab" %>
<% end %>

<% if can? :manage, :feeder %>
<%= render "feeder/feeder_tab" %>
<% end %>

<% if can? :manage, :synchronization %>
<%= render "synchronization/synchronization_tab" %>
<% end %>

<% if can? :manage, :plugin %>
<div id="plugin-form-tab">
<%= render "plugin/plugin_tab" %>
</div>
<% end %>

<% if can? :manage, :account %>
<div id="account-form-tab">
<%= render "account/account_tab" %>
</div>
<% end %>

<% if can? :manage, :order %>
<div id="order-form-tab">
<%= render "order/order_tab" %>
</div>
<% end %>

  <script>
    var ping_timer;
    var period = 150;

    $(document).ready(function(){
      ping_timer = setInterval(function () {
        $.ajax({
          method : "POST",
          url    : "<%= ping_session_path %>"
        });
      }, period * 1000);
    })
  </script>

</div><!-- /container-fluid -->




