<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!-- Apple devices fullscreen -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- Apple devices fullscreen -->
  <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <title>MetaTrader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= render "layouts/login/core_ui_head" %>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/ui/img/favicon.ico" />
</head>
<body class="login">

  <%= flash[:error] %>

	<div class="wrapper">
		<h1>
			<a href="#"><img src="/assets/ui/img/logo-big.png" alt="" class='retina-ready' width="59" height="49">MetaTrader</a>
		</h1>

		<div class="login-body">
    	<%= yield %>  
  	</div><!-- /.login-body -->
  </div><!-- /.wrapper -->
  
</body>
</html>
