<% unless @group.nil? %>

<div class="section section-group">

<h2 class="blue normal"><i class="icon-group"></i> Group
  <%= link_to glyph(:plus) + " New", "#", :id => "new-group-link", :class =>"btn btn-primary pull-right" %></h2>

<div class="row-fluid">
    <table class="table table-hover group-table2">
      <thead>
      <tr>
        <th>Name</th>
        <th>Company</th>
        <th>MC/SO</th>
        <th>Securities</th>
        <th></th>
      </tr>
      </thead>
      <% @group.each_with_index do |group, ix|%>
        <tr class="group-row" data-pos="<%= ix %>">
          <td><%= group["group"] %></td>
          <td><%= group["company"] %></td>
          <td><%= group["margin_call"] %>/<%= group["margin_stopout"] %>%</td>
          <td><%= group_securities(group, @security) %></td>
          <td> 
            <a href="#"><i class="icon-pencil"></i></a>
            &nbsp;&nbsp;&nbsp;
            <a href="#"><i class="icon-remove"></i></a></td>
        </tr>
      <% end %>
    </table>
  <div id="group-form">
    <%= render "group/group_form" %>
  </div>
</div>


</div>
<% end %>