<div class="row-fluid">
  <div class="span4">
    Margin Call level: <%= text_field_tag "group[margin_call]", @grp["margin_call"], :style => "width: 100" %>
  </div>
  <div class="span4">
    Stop Out level: <%= text_field_tag "group[margin_stopout]", @grp["margin_stopout"], :style => "width: 100px" %>
  </div>
  <div class="span4">
    in: <%= select_tag "group[margin_type]", options_for_group_margin_type(@grp["margin_type"]), :style => "width: 150px" %>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    Free Margin: <%= select_tag "group[margin_mode]", options_for_group_margin_mode(@grp["margin_mode"]), :style => "width: 250px" %>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    Virtual credit: <%= text_field_tag "group[credit]", @grp["credit"], :style => "width: 80px" %>% (applies only to opening new positions)
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
     <%= hidden_field_tag "group[stopout_skip_hedged]", '0' %>
     <%= check_box_tag "group[stopout_skip_hedged]", '1', @grp["stopout_skip_hedged"]==1 %> Skip fully hedged accounts when checking for stop out
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
     <%= hidden_field_tag "group[hedge_largeleg]", '0' %>
     <%= check_box_tag "group[hedge_largeleg]", '1', @grp["hedge_largeleg"]==1 %> Calculate hedged margin using larger leg
  </div>
</div>
