<div class="padd-10">
<div class="row-fluid">
  <div class="span7">
    Timeout: <%= text_field_tag "group[timeout]", @grp["timeout"], :class =>"single-line input-small" %> seconds for confirmation
  </div>
  <div class="span5 input-small">
    News: <%= select_tag "group[news]", options_for_group_news(@grp["news"]), :class =>"chosen-select" %>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    News languages: <%= @grp["news_languages"] %>
  </div>
</div>
<div class="row-fluid">
  <div class="span6 input-small">
    Maximum symbols: <%= select_tag "group[maxsecurities]", options_for_group_maxsecurities(@grp["maxsecurities"]), :class =>"chosen-select" %>
  </div>
  <div class="span6 input-small">
    Maximum orders: <%= select_tag "group[maxpositions]", options_for_group_maxpositions(@grp["maxpositions"]), :class =>"chosen-select" %>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    Trade signals: <%= select_tag "group[rights][trade_signals]", options_for_group_trade_signals(@grp["rights"]), :class =>"chosen-select" %>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
     <%= hidden_field_tag "group[rights][mail]", '0' %>
     <%= check_box_tag "group[rights][mail]", '1', (@grp["rights"]&1)==1, :class =>"icheck-me",  :data => { :skin => 'minimal', :color =>'blue'} %> Enable internal mail system
  </div>
  <div class="span6">
     <%= hidden_field_tag "group[check_ie_prices]", '0' %>
     <%= check_box_tag "group[check_ie_prices]", '1', @grp["check_ie_prices"]==1, :class =>"icheck-me",  :data => { :skin => 'minimal', :color =>'blue'} %> Check request prices in IE
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
     <%= hidden_field_tag "group[use_swap]", '0' %>
     <%= check_box_tag "group[use_swap]", '1', @grp["use_swap"]==1, :class =>"icheck-me",  :data => { :skin => 'minimal', :color =>'blue'} %> Enable charge of swaps
  </div>
  <div class="span6">
     <%= hidden_field_tag "group[hedge_prohibited]", '0' %>
     <%= check_box_tag "group[hedge_prohibited]", '1', @grp["hedge_prohibited"]==1, :class =>"icheck-me",  :data => { :skin => 'minimal', :color =>'blue'} %> Prohibit hedge positions
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
     <%= hidden_field_tag "group[rights][trailing]", '0' %>
     <%= check_box_tag "group[rights][trailing]", '1', (@grp["rights"]&2)==2, :class =>"icheck-me",  :data => { :skin => 'minimal', :color =>'blue'} %> Enable trailing stops
  </div>
  <div class="span6">
     <%= hidden_field_tag "group[close_fifo]", '0' %>
     <%= check_box_tag "group[close_fifo]", '1', @grp["close_fifo"]==1, :class =>"icheck-me",  :data => { :skin => 'minimal', :color =>'blue'} %> Position closing according to FIFO Rule
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
     <%= hidden_field_tag "group[rights][advisor]", '0' %>
     <%= check_box_tag "group[rights][advisor]", '1', (@grp["rights"]&4)==4, :class =>"icheck-me",  :data => { :skin => 'minimal', :color =>'blue'} %> Enable trading by expert advisors
  </div>
  <div class="span6">
     <%= hidden_field_tag "group[close_reopen]", '0' %>
     <%= check_box_tag "group[close_reopen]", '1', @grp["close_reopen"]==1, :class =>"icheck-me",  :data => { :skin => 'minimal', :color =>'blue'} %> Use partial close with full close of initial position
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
     <%= hidden_field_tag "group[rights][expiration]", '0' %>
     <%= check_box_tag "group[rights][expiration]", '1', (@grp["rights"]&8)==8, :class =>"icheck-me",  :data => { :skin => 'minimal', :color =>'blue'} %> Enable expiration of pending orders
  </div>
</div>
</div><!--/padd-10-->