<div class="row-fluid">
  <div class="span12">
    Contract size: <%= text_field_tag "symbol[contract_size]", @sym["contract_size"], :style => "width:100px;" %>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    Initial margin: <%= text_field_tag "symbol[margin_initial]", @sym["margin_initial"], :style => "width:100px;" %>
  </div>
  <div class="span4">
    Maintenance: <%= text_field_tag "symbol[margin_maintenance]", @sym["margin_maintenance"], :style => "width:100px;" %>
  </div>
  <div class="span4">
    Hedged: <%= text_field_tag "symbol[margin_hedged]", @sym["margin_hedged"], :style => "width:100px;" %>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    Tick Size: <%= text_field_tag "symbol[tick_size]", @sym["tick_size"], :style => "width:100px;" %>
  </div>
  <div class="span4">
    Tick price: <%= text_field_tag "symbol[tick_value]", @sym["tick_value"], :style => "width:100px;" %></td>
  </div>
  <div class="span4">
    Percentage: <%= text_field_tag "symbol[margin_divider]",
    @sym["margin_divider"] ? number_with_precision((100/@sym["margin_divider"].to_f), :precision => 2) : "", :style => "width:100px;" %></td>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    Margin Calculation: <%= select_tag "symbol[margin_mode]", options_for_symbol_margin_mode(@sym["margin_mode"]), :style => "width:600px;" %>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    Profit Calculation: <%= select_tag "symbol[profit_mode]", options_for_symbol_profit_mode(@sym["profit_mode"]), :style => "width:600px;" %>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
     <%= hidden_field_tag "symbol[margin_hedged_strong]", '0' %>
     <%= check_box_tag "symbol[margin_hedged_strong]", '1', @sym["margin_hedged_strong"]==1 %> Strong hedged margin mode
  </div>
</div>