<table class="table hover-table">
  <thead>
  <tr>
    <th>Day</th>
    <th>Quotes</th>
    <th>Trade</th>
  </tr>
  </thead>
<% @sym["sessions"].each_with_index do |session, ix| %>
  <tr>
    <td><%= Date::DAYNAMES[ix] %></td>
    
      <td class="inline-row">
        <% session["quote"].each_with_index do |quote, qix| %>
      <%=text_field_tag "symbol[sessions][#{ix}][quote][#{qix}][open_hour]","%02d"%quote["open_hour"],:style=>"width:5px;", :class =>"single-line" %>:
      <%=text_field_tag "symbol[sessions][#{ix}][quote][#{qix}][open_min]","%02d"%quote["open_min"],:style=>"width:5px;", :class =>"single-line"  %>
      -
      <%=text_field_tag "symbol[sessions][#{ix}][quote][#{qix}][close_hour]","%02d"%quote["close_hour"],:style=>"width:5px;", :class =>"single-line"  %>:
      <%=text_field_tag "symbol[sessions][#{ix}][quote][#{qix}][close_min]","%02d"%quote["close_min"],:style=>"width:5px;", :class =>"single-line"  %>
      <% end %>
      </td>
    
    
      <td class="inline-row">
      <% session["trade"].each_with_index do |trade, tix| %>
      <%=text_field_tag "symbol[sessions][#{ix}][trade][#{tix}][open_hour]","%02d"%trade["open_hour"],:style=>"width:5px;", :class =>"single-line" %>:
      <%=text_field_tag "symbol[sessions][#{ix}][trade][#{tix}][open_min]","%02d"%trade["open_min"],:style=>"width:5px;", :class =>"single-line" %>
      -
      <%=text_field_tag "symbol[sessions][#{ix}][trade][#{tix}][close_hour]","%02d"%trade["close_hour"],:style=>"width:5px;", :class =>"single-line" %>:
      <%=text_field_tag "symbol[sessions][#{ix}][trade][#{tix}][close_min]","%02d"%trade["close_min"],:style=>"width:5px;", :class =>"single-line" %>
      <% end %>
      </td>    
  </tr>
<% end if @sym["sessions"] %>
</table>
