


  <div class="padd-10">
    <div class="row-fluid">
  <div class="span4">
    Symbol: <%= text_field_tag "symbol[symbol]", @sym["symbol"], :class =>"single-line input-small"  %>
  </div>
  <div class="span4 controls input-small">
    Source: <%= select_tag "symbol[source]", options_for_source_select(@symbol, @sym["source"]), :class =>"chosen-select"  %>
  </div>
  <div class="span4 input-small">
    Digits: <%= select_tag "symbol[digits]", options_for_symbol_digits(@sym["digits"]), :class =>"single-line chosen-select"  %>
  </div>

</div>


  
    <div class="row-fluid">
  <div class="span12">
    Description: <%= text_field_tag "symbol[description]", @sym["description"], :class =>" input-block-level"  %>
  </div>

</div>


  
    <div class="row-fluid">
  <div class="span4 input-small grey-select">
    Type: <%= select_tag "symbol[type]", options_for_symbol_type(@symbol_group, @sym["type"]), :class =>"single-line chosen-select"  %>
  </div>
  <div class="span4 input-small">
    Execution: <%= select_tag "symbol[exemode]", options_for_symbol_execution(@sym["exemode"]), :class =>"single-line chosen-select"  %>
  </div>
  <div class="span4 input-small">
    Currency: <%= select_tag "symbol[currency]", options_for_symbol_currency(@sym["currency"]), :disabled =>true, :class =>"single-line chosen-select"  %>
  </div>

</div>


  
    <div class="row-fluid">
  <div class="span4 input-small">
    Trade: <br>
    <%= select_tag "symbol[trade]", options_for_symbol_trade(@sym["trade"]), :class =>"single-line chosen-select"  %>
  </div>
  <div class="span4 input-small">
    <%#Background: <%= text_field_tag "symbol[background_color]", @sym["background_color"], :class =>"single-line chosen-select" %>
  </div>
  <div class="span4 input-small">
    Margin Currency: <%= select_tag "symbol[margin_currency]", options_for_symbol_currency(@sym["margin_currency"]), :class =>"single-line chosen-select"  %>
  </div>

</div>


  
    <div class="row-fluid">
  <div class="span6">
    Maximum lots for IE: <%= text_field_tag "symbol[instant_max_volume]", @sym["instant_max_volume"] ? @sym["instant_max_volume"]/100 : "", :style => "width: 50px", :class =>"single-line"  %>
  </div>
  <div class="span6">
    Orders: <%= select_tag "symbol[gtc_pendings]", options_for_symbol_orders(@sym["gtc_pendings"]), :style => "width: 240px", :class =>"single-line chosen-select"  %>
  </div>

</div>


  
    <div class="row-fluid">
  <div class="span4">
    Spread by default: <br>
    <%= text_field_tag "symbol[spread]", @sym["spread"], :style => "width: 40px", :class =>"single-line"  %> pt
  </div>
  <div class="span4">
    <%= hidden_field_tag "symbol[long_only]", '0' %>
    <p>Long only: </p>
    <%= check_box_tag "symbol[long_only]", '1', @sym["long_only"]==1, :class =>"icheck-me",  :data => { :skin => 'minimal', :color =>'blue'} %>
  </div>
  <div class="span4">
    Limit & stop level: <br>
    <%= text_field_tag "symbol[stops_level]", @sym["stops_level"], :style => "width: 40px", :class =>"single-line"  %> pt
  </div>

</div>


  
    <div class="row-fluid">
  <div class="span6">
    Spread balance: <br>
    <%= select_tag "symbol[spread_balance]", options_for_spread_balance(@sym), :style => "width: 180px", :class =>"single-line chosen-select"   %>
  </div>
  <div class="span6">
    Freeze level: <br>
    <%= text_field_tag "symbol[freeze_level]", @sym["freeze_level"], :style => "width: 40px", :class =>"single-line"   %> pt
  </div>

</div>
</div><!--/padd-10-->

