
<% unless @symbol.nil? %>
  <div class="section section-symbols">
    <h2 class="normal blue"><i class="icon-credit-card"></i> Symbols
      <%= link_to glyph(:plus) + " New", "#modal-symbol", :id => "new-symbol-link", :class =>"btn btn-primary pull-right" %>
      <!--a href="" id="modal-symbol" class="btn btn-primary pull-right"><i class="icon-plus"></i> New</a-->
    </h2>

    <div class="row-fluid">
        <table class="table hover-table symbol-table">
          <thead>
          <tr>
            <th>Symbol</th>
            <th>Type</th>
            <th>Execution</th>
            <th>Filter</th>
            <th>Spread</th>
            <th>Stops</th>
            <th>Long</th>
            <th>Short</th>
            <th>Digits</th>
            <th>Trade</th>
            <th></th>
          </tr>
          </thead>
          <% @symbol.each_with_index do |symbol, ix|%>
            <tr class="symbol-row" data-pos="<%= ix %>">
              <td><%= symbol["symbol"] %></td>
              <td><%= @symbol_group[symbol["type"]]["name"] %></td>
              <td>
                <%= case symbol["exemode"] ; when 0 ; "Request" ; when 1 ; "Instant" ; when 2 ; "Market" ; end %>
              </td>
              <td><%= symbol["filter"]==0 ? "No" : symbol["filter"] %></td>
              <td><%= symbol["spread"] %></td>
              <td><%= symbol["stops_level"] %></td>
              <td><%= symbol["swap_long"] %></td>
              <td><%= symbol["swap_short"] %></td>
              <td><%= symbol["digits"] %></td>
              <td>
                <%= case symbol["trade"] ; when 0 ; "No" ; when 1 ; "Close" ; when 2 ; "Full" ; end %>
              </td>
              <td>
                <a class="symbol-edit" href="#"><i class="icon-pencil"></i></a>
             &nbsp;&nbsp;&nbsp;
                <a href="#"><i class="icon-remove"></i></a>
             
              </td>
            </tr>
          <% end %>
        </table>
      <div id="symbol-form">
        <%= render "symbol/symbol_form" %>
      </div>
    </div>

  </div>
<% end %>


