<% unless @symbol_group.nil? %>
  <div class="section section-symbol-group">
    <h2 class="normal blue"><i class="icon-group"></i> Symbol Group</h2>
    <%= form_tag symbol_group_submit_path, :method => "POST", :remote => true, :class => "symbol_group_form" do %>
      
      <table class="table table-striped group-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Symbols</th>
        </tr>
        </thead>
        <% @symbol_group.each_with_index do |sg, ix| %>
          <tr>
            <td>
              <%= hidden_field_tag "symbol_group_tab[#{ix}][position]", ix %>
              <%= hidden_field_tag "symbol_group_tab[#{ix}][changed]", false, :class => "symbol_group_changed" %>
              <%= text_field_tag "symbol_group_tab[#{ix}][name]", sg["name"], :class => "symbol_group_field single-line" %>
            </td>
            <td>
              <%= text_field_tag "symbol_group_tab[#{ix}][description]", sg["description"], :class => "symbol_group_field single-line"%>
            </td>
            <td>
              <%= text_field_tag "symbol_group_symbols", get_symbol_group_symbols(ix, @symbol), :disabled => true, :style => "width: 99%;" %>
            </td>
          </tr>
        <% end %>
      </table>
      <%= submit_tag "Submit", :class =>"btn btn-primary" %>
    <% end %>
  </div>
<% end %>