<% unless @access.nil? %>
  <div class="section section-access">
    <h2 class="normal blue"><i class="icon-wrench"></i> Access
    <%= link_to glyph(:plus) + " New", "#modal-1", :id => "new_access", :class =>"btn btn-primary pull-right" %></h2>
<!-- This button need to be replaced with button above. -->
<!--a href="#modal-1" role="button" class="btn btn-primary" data-toggle="modal"><i class="icon-plus"></i> New</a-->

    <table class="access_table table access-table hover-table">
      <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Comment</th>
        <th></th>
      </tr>
      </thead>
      <% @access.each_with_index do |row, ix| %>
        <%= render "variable_update/access_row", :row => row, :ix => ix %>
      <% end %>
    </table>


    <!-- Modal -->
    <div id="modal-1" class="modal hide in modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel" class="normal"><i class="icon-wrench"></i> Access</h3>
        </div>
        <div class="modal-body">
        <%= form_tag access_submit_path, :class =>"form-horizontal form-bordered form-data-server border", :method => "POST", :remote => true, :id => "form-access-modal" do %>
        <%= hidden_field_tag "access_new_record", true %>
        <%= hidden_field_tag "access_tab[position]", @access.count %>

        <div class="control-group">
        <label for="access_tab[action]" class="control-label">Action: </label>
        <div class="controls">
          <div  class="input-xlarge">
            <%= select_tag "access_tab[action]", options_for_access_action, :class =>"single-line chosen-select" %>
          </div>
        </div>
        </div><!--/control-group-->

        <div class="control-group">
        <label for="access_tab[from]" class="control-label">From: </label>
        <div class="controls">
        <%= text_field_tag "access_tab[from]", nil, :class =>"single-line" %>
        </div>
        </div><!--/control-group-->

        <div class="control-group">
        <label for="access_tab[to]" class="control-label">To: </label>
        <div class="controls">
        <%= text_field_tag "access_tab[to]", nil, :class =>"single-line"  %>
        </div>
        </div><!--/control-group-->

        <div class="control-group">
        <label for="access_tab[comment]" class="control-label">Comment: </label>
        <div class="controls">
        <%= text_field_tag "access_tab[comment]", nil, :class =>"single-line" %>
        </div>
        </div><!--/control-group-->
          <div class="form-actions">
        <%= submit_tag"Submit", :class => "btn btn-primary" %>
        </div><!--/form-actions-->
      <% end %>
        </div>
        <!--div class="modal-footer">
        <%= submit_tag"Submit", :class => "btn btn-primary" %>
        </div-->
      <!--/div><!/modal-1-->
    </div>
  </div>
<% end %>
