<% unless @data_server.nil? %>
  <table class="data_server_table table hover-table data-server-table">
    <thead>
    <tr>
      <th>Server</th>
      <th>Description</th>
      <th>Internal IP Address</th>
      <th>Priority</th>
      <th>Loading</th>
      <th></th>
    </tr>
    </thead>
    <% @data_server.each_with_index do |row, ix| %>
      <tr class="data_server_row" data-position="<%= ix %>" data-description="<%= row["description"] %>"
        data-ip="<%= ApiMethods.long2ip(row["ip"]) %>" data-ipinternal="<%= ApiMethods.long2ip(row["ip_internal"]) %>" data-priority="<%= row["priority"] %>" data-server="<%= row["server"] %>">
        <td class="el"><%= row["server"] %></td>
        <td class="el"><%= row["description"] %></td>
        <td class="el"><%= ApiMethods.long2ip(row["ip_internal"]) %></td>
        <td class="el"><%= row["priority"] == 255 ? "Idle" : row["priority"] %></td>
        <td class="el"><%= row["loading"] == 4294967295 ? "n/a" : row["loading"] %></td>
        <td>
           <a href=""><i class="icon-pencil"></i></a>
         &nbsp;&nbsp;&nbsp;
         <%= link_to glyph(:remove) + "", delete_data_server_row_path(:position => ix), :remote=> true, :method => :delete %></td>
      </tr>
    <% end %>
  </table>

<div class="row-fluid">
  <div class="span6">
  <%= form_tag data_server_submit_path, :class =>"form-horizontal form-bordered form-data-server border", :method => "POST", :remote => true do %>
    <%= hidden_field_tag "data_server_new_record", true %>
    <%= hidden_field_tag "data_server_tab[position]", @data_server.count %>

    <div class="control-group">
    <label for="data_server_tab[description]" class="control-label">Description: </label>
    <div class="controls">
    <%= text_field_tag "data_server_tab[description]" %>
    </div>
    </div><!--/control-group-->

    <div class="control-group">
    <label for="data_server_tab[server]" class="control-label">Public server address: </label>
    <div class="controls">
    <%= text_field_tag "data_server_tab[server]" %>
    </div>
    </div><!--/control-group-->

    <div class="control-group">
    <label for="data_server_tab[ip_internal]" class="control-label">Internal IP Address: </label>
    <div class="controls">
    <%= text_field_tag "data_server_tab[ip_internal]" %>
    </div>
    </div><!--/control-group-->
    
    <div class="control-group">
    <label for="data_server_tab[priority]" class="control-label">Priority: </label>
    <div class="controls">
    <div  class="input-xlarge">
        <%= select_tag "data_server_tab[priority]", options_for_data_server_priority, :class =>"single-line chosen-select" %>
      </div>
    </div>
    </div><!--/control-group-->
    
    <div class="form-actions">
    <%= submit_tag"Submit", :class =>"btn btn-primary" %>
    <%= link_to "new", "#", :id => "new_data_server" %>
    </div><!--/form-actions-->
  <% end %>
  </div><!--/span-->
</div><!--/row-fluid-->

<% end %>
