<table class="table hover-table account-table">
  <thead>
  <tr>
    <th>Login</th>
    <th>Name</th>
    <th>Group</th>
    <th>City</th>
    <th>Email</th>
    <th>Balance</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>
  <% @account.each_with_index do |account, ix|%>
    <tr class="account-row" data-login="<%= account["login"] %>">
      <td><%= account["login"] %></td>
      <td><%= account["name"] %></td>
      <td><%= account["group"] %></td>
      <td><%= account["city"] %></td>
      <td><%= account["email"] %></td>
      <td><%= account["balance"] %></td>
      <td><%= "" %></td>
      <td>
        <a class="account-edit" href="#"><i class="icon-pencil"></i></a>
        &nbsp;&nbsp;&nbsp;
        <%= link_to delete_account_path(account["login"]), :remote => true, :method => :delete do %>
          <i class="icon-remove"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>