<% if @act.empty? %>
<%# Form for new account %>
  <div class="row-fluid">
    <div class="span4">
      <%= hidden_field_tag "account[enable]", '0' %>
      <%= check_box_tag "account[enable]", '1', @act["enable"].to_i==1 %> Enable
    </div>
    <div class="span4">
      Password: <%= text_field_tag "account[password]", "", style: "width:100px;" %>
    </div>
    <div class="span4">
      Investor password: <%= text_field_tag "account[password_investor]", "", style: "width:83px;" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      Login: <%= text_field_tag "account[login]", "", style: "width:140px;" %>
    </div>
    <div class="span8">
      Name: <%= text_field_tag "account[name]" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      City: <%= text_field_tag "account[city]", "", style: "width:150px;" %>
    </div>
    <div class="span4">
      State: <%= text_field_tag "account[state]", "", style: "width:150px;" %>
    </div>
    <div class="span4">
      Country: <%= text_field_tag "account[country]", "", style: "width:145px;" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      Address: <%= text_field_tag "account[address]", "", style: "width:140px;" %>
    </div>
    <div class="span8">
      Zip-code: <%= text_field_tag "account[zipcode]" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8">
      Phone: <%= text_field_tag "account[phone]" %>
    </div>
    <div class="span4">
      Email: <%= text_field_tag "account[email]", "", style: "width:140px;" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      ID number: <%= text_field_tag "account[id]", "", style: "width:120px;" %>
    </div>
    <div class="span4">
      Status: <%= select_tag "account[status]", options_for_account_status, style: "width:150px;" %>
    </div>
    <div class="span4">
      Phone password: <%= text_field_tag "account[password_phone]", "", style: "width:93px;" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      Group: <%= select_tag "account[group]", options_for_account_group(@group), style: "width:140px;" %>
    </div>
    <div class="span8">
      Comment: <%= text_field_tag "account[comment]" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5">
      Leverage: <%= select_tag "account[leverage]", options_for_group_default_leverage, style: "width:90px;" %> (forex only)
    </div>
    <div class="span3">
      Tax rate: <%= text_field_tag "account[taxes]", "", style: "width:70px;" %> %
    </div>
    <div class="span4">
      Agent account: <%= text_field_tag "account[agent_account]", "", style: "width:93px;" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <%= hidden_field_tag "account[enable_change_password]", '0' %>
      <%= check_box_tag "account[enable_change_password]", '1', @act["enable_change_password"].to_i==1 %> Allow to change password
    </div>
    <div class="span4">
      <%= hidden_field_tag "account[enable_read_only]", '0' %>
      <%= check_box_tag "account[enable_read_only]", '1', @act["enable_read_only"].to_i==1 %> Read only(without trading)
    </div>
    <div class="span4">
      <%= hidden_field_tag "account[send_reports]", '0' %>
      <%= check_box_tag "account[send_reports]", '1', @act["send_reports"].to_i==1 %> Send reports
    </div>
  </div>

<% else %>
<%# Form for editing %>
  <div class="row-fluid">
    <div class="span6">
      <%= hidden_field_tag "account[enable]", '0' %>
      <%= check_box_tag "account[enable]", '1', @act["enable"].to_i==1 %> Enable
    </div>
    <div class="span6">
      Registration date: <%= text_field_tag "reg_date", Time.zone.at(@act["regdate"].to_i), style: "width:200px;", disabled: true %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8">
      Name: <%= text_field_tag "account[name]", @act["name"] %>
    </div>
    <div class="span4">
      Phone password: <%= password_field_tag "account[password_phone]", @act["password_phone"], style: "width:93px;" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      City: <%= text_field_tag "account[city]", @act["city"], style: "width:150px;" %>
    </div>
    <div class="span4">
      State: <%= text_field_tag "account[state]", @act["state"], style: "width:150px;" %>
    </div>
    <div class="span4">
      Country: <%= text_field_tag "account[country]", @act["country"], style: "width:145px;" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8">
      Address: <%= text_field_tag "account[address]", @act["address"] %>
    </div>
    <div class="span4">
      Zip-code: <%= text_field_tag "account[zipcode]", @act["zipcode"], style: "width:140px;" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      Phone: <%= text_field_tag "account[phone]", @act["phone"], style: "width:140px;" %>
    </div>
    <div class="span8">
      Email: <%= text_field_tag "account[email]", @act["email"] %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      ID number: <%= text_field_tag "account[id]", @act["id"], style: "width:120px;" %>
    </div>
    <div class="span4">
      Status: <%= select_tag "account[status]", options_for_account_status(@act["status"]), style: "width:150px;" %>
    </div>
    <div class="span4">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      Group: <%= select_tag "account[group]", options_for_account_group(@group,@act["group"]), style: "width:140px;" %>
    </div>
    <div class="span8">
      Comment: <%= text_field_tag "account[comment]", @act["comment"] %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5">
      Leverage: <%= select_tag "account[leverage]", options_for_group_default_leverage(@act["leverage"]), style: "width:90px;" %> (forex only)
    </div>
    <div class="span3">
      Tax rate: <%= text_field_tag "account[taxes]", @act["taxes"], style: "width:70px;" %> %
    </div>
    <div class="span4">
      Agent account: <%= text_field_tag "account[agent_account]", @act["agent_account"], style: "width:93px;" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <%= hidden_field_tag "account[enable_change_password]", '0' %>
      <%= check_box_tag "account[enable_change_password]", '1', @act["enable_change_password"].to_i==1 %> Allow to change password
    </div>
    <div class="span4">
      <%= hidden_field_tag "account[enable_read_only]", '0' %>
      <%= check_box_tag "account[enable_read_only]", '1', @act["enable_read_only"].to_i==1 %> Read only(without trading)
    </div>
    <div class="span4">
      <%= hidden_field_tag "account[send_reports]", '0' %>
      <%= check_box_tag "account[send_reports]", '1', @act["send_reports"].to_i==1 %> Send reports
    </div>
  </div>
<% end %>